html {
    font-family: Arial, Helvetica, sans-serif;
}
.header {
    background-color: chocolate;
    color: black;
    padding: 15px;
    margin-bottom: 8px;
}
/*Splits screen into three coloumns*/
.main {
    width: 80%;
    float: left;
    margin-bottom: 20px;
    
}
.navmenu {
    width: 20%;
    float: left;
}   
.aside {
    float: right;
    position: relative;
    font-size: 10px;
}

/*Makes all elements stack below each other when window re-sized*/
@media screen and (max-width:640px) {
    .main {
        width: 100%;     
    }
    .navmenu {
        width: 100%;   
    }
    .aside {
        width: 100%;   
    }

}
/*Styles elements in main*/
.main section {
    padding-left: 10px;
}
.main input {
    margin: 5px;
}
.main ul {
    width: 100%;
    margin: 0% auto;
    display: table;
    list-style-position: inside;
}

/*Styles elements in navmenu*/
.navmenu ul.menu {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}
.navmenu li.menu {
    padding: 8x;
    margin-bottom: 7px;
    background-color:white;
    color: black;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);  
}
.navmenu li.menu:hover {
    background-color: peru;
    -webkit-animation: swing 1s ease;
    animation:  swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.navmenu div {  
    margin: 70px;
}

/*styles all images*/
.images {
    transition: all .2s ease-in-out;
    transform-origin: left top
}

.images img {
    width: 250px;
    border-style: solid;
    border-width: 5px;
    margin: 20px;
}

.images:hover {
    transform: scale(1.5);
}

.timetable {
    border-collapse: collapse;
}

.timetable th, td {
    border: 1px solid black;
}

.footer {
    background-color: chocolate;
    font-size: 10px;
    clear: both;
    padding: 20px;  
}

@-webkit-keyframes swing {
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 

    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }

    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }

    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }

    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }

    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }

    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }

    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }

    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }

    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}




